.App {
  width: 100%;
  height: 100%;

  .navbar {
    height: 60px;
    background: #001529;
    color: rgba(255, 255, 255, .65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: var(--box-shadow);

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      text-decoration: none;

      .logo-img {
        width: 45px;
        height: 45px;
        filter: invert(1);
      }

      .logo-text {
        font-size: 16px;
        color: white;
        font-family: var(--noto-serif);
        font-weight: 700;
      }
    }

    .nav-menu {
      display: flex;
      gap: 8px;
      font-size: 16px;

      a {
        color: white;
        text-decoration: none;
        font-family: var(--noto-serif);
        font-weight: 400;

        &:hover {
          color: var(--hover-color);
        }

      }
    }
  }

  .content-container {
    display: flex;
    padding: 10px 20px 0;
    height: 50vh;
    gap: 30px;

    .content-text {
      max-width: 50%;
    }

    canvas {
      border: 1px solid lightgray;
    }

    .inner {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      gap: 5px;

      .btn-inner {
        height: 20px;
        padding: 0 20px;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: var(--hover-color);
        }
        &:active {
          background-color: var(--active-color);
        }
      }
    }
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      height: 100%;

      img {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
